imap jj <Esc>
nnoremap Y y$
nnoremap <space>w :w<cr>
nnoremap <space>h :noh<cr>
nnoremap j gj
nnoremap k gk
nnoremap <C-p> :action GotoFile<cr>
nnoremap <space>g :action FindInPath<cr>
nnoremap <space>f :action ReformatCode<cr>
nnoremap gci :action CommentByLineComment<cr>
nnoremap gcui :action CommentByLineComment<cr>
vnoremap gci :action CommentByLineComment<cr>
vnoremap gcui :action CommentByLineComment<cr>

set hlsearch
set incsearch
set smartcase
set ignorecase
set scrolloff=5
set clipboard=unnamed
